<div class="container">
  <h1><strong>Alta cliente</strong></h1>
  <hr>
  <div>
    <p>Nombre:<input type="text"[(ngModel)]="nombre"></p>
    <p>CIF:<input type="text"[(ngModel)]="CIF"></p>
    <p>Dirección:<input type="text"[(ngModel)]="direccion"></p>
    <p>Grupo:<select name="grupo" [(ngModel)]="grupo">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </p>
    <button (click)="guardarCliente()" >Guardar</button>
  </div>
</div>
<hr>
<div class="container">
  <h1>Listado clientes</h1>
  <div>
    <app-cliente [clientestot]="listaclientes"></app-cliente>
  </div>
</div>
